.lui-slider__wrapper {
  overflow: hidden;
}

.lui-slider__frame {
  transition: margin-left 0.2s ease;
  font-size: 0; // This eliminates gap between elements defined as inline-block
  width: 100%;
  height: 350px;
  line-height: 350px;
  white-space: nowrap;
  box-sizing: border-box;
}

.lui-slider__item {
  // due to nature of CSS, font-size: 0; cascades to all children here, which
  // isn't quite what we want, hence we have to reset the font size
  font-size: $lui-font-size--slider-item;
  display: inline-block;
  transition: 0.2s all ease;
  transform: scale(100%, 100%);
  width: 18%;
  vertical-align: $lui-slider-item-alignment;
  box-sizing: border-box;

  &--active {
    transform: scale(130%, 130%);
    width: 28%;
  }
}

.lui-slider__image {
  display: block;
  width: 100%;
}
