.lui-slider__wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: $lui-height--navigation;
}
.lui-slider__frame {
  transition: margin-left 0.2s ease;
  font-size: 0; // This eliminates gap between elements defined as inline-block
  width: 100%;
  height: 360px;
  line-height: 360px;
  white-space: nowrap;
  box-sizing: border-box;
}

.lui-slider__item {
  // due to nature of CSS, font-size: 0; cascades to all children here, which
  // isn't quite what we want, hence we have to reset the font size
  font-size: $lui-font-size--slider-item;
  display: inline-block;
  transition: 0.2s all ease;
  transform: scale(100%, 100%);
  width: 18%;
  vertical-align: $lui-slider-item-alignment;
  box-sizing: border-box;

  &--active {
    transform: scale(130%, 130%);
    width: 28%;
  }
}

.lui-slider__image {
  display: block;
  width: 100%;
}

.lui__btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background-color: $lui-color--base;
  color: $lui-color--light;
  height: $lui-height--navigation;
  line-height: $lui-height--navigation;
  padding: 0 $inuit-base-spacing-unit--small;
  width: 80px;
  text-align: center;
  cursor: pointer;
}

.lui__btn--previous {
  left: 0;

  &:active {
    left: -1px;
  }
}

.lui__btn--next {
  right: 0;

  &:active {
    right: -1px;
  }
}
