$color--base: black !default;

$lui-font-size--base: 12px !default;

//specific modules

$lui-font-size--slider-item: $lui-font-size--base !default;

// slider configuration
$lui-slider-item-alignment: middle !default; // top|middle|bottom
